<input [formControl]="searchField" />

<div *ngIf="isLoading">
	<div class="skeleton"></div>
	<div class="skeleton"></div>
	<div class="skeleton"></div>
	<div class="skeleton"></div>
	<div class="skeleton"></div>
	<div class="skeleton"></div>
	<div class="skeleton"></div>
</div>

<div *ngIf="results$ | async as results">
	<div>{{ results | json }}</div>
	<div *ngIf="results.query.searchInfo.totalHits === 0">
		Sorry, no results for that term.
	</div>
	<ul>
		<li *ngFor="let item of results.query.search">
			<h4>{{item.title}}</h4>
			<p [innerHTML]="item.snippet"></p>
		</li>
	</ul>
</div>